<div class="row">
    <div class="col-12">
        <section class="sessao-header">
            <i class="bi bi-list" (click)="abrirMenu(content)"></i>
            <i class="bi bi-arrow-repeat" (click)="onAlterarEstabelecimento()"></i>
        </section>
    </div>
</div>

<ng-template #content let-offcanvas="offcanvas">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">Menu</h4>
        <i class="bi bi-x-lg" (click)="fecharMenu()"></i>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column menu">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" (click)="fecharMenu()">
                    <i class="bi bi-house-door"></i>
                    Página Inicial
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['calendario']" (click)="fecharMenu()">
                    <i class="bi bi-calendar-date"></i>
                    Calendário
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['cliente']" (click)="fecharMenu()">
                    <i class="bi bi-people"></i>
                    Clientes
                </a>
            </li>
        </ul>
    </div>
</ng-template>