header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
    background-color: var(--laranja-secundario);

    color: var(--texto-principal-claro);

    i {
        font-size: 2.2rem;
    }
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.table td, .table th {
    padding: 8px;
    font-size: 1rem !important;
}

@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.sessao-cadastro {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid thin var(--laranja-secundario);

    .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 1rem;
        color: var(--laranja-principal);
        flex-grow: 1;
        width: 100%;
    }

    i {
        font-size: 1.3rem;
    }
}


.sessao-lista-servicos {
    margin-top: 20px;
}

.sessao-lista-servicos .input-search {
    margin-bottom: 15px;
}


.sessao-lista-servicos thead {
    border-bottom: solid thin var(--laranja-principal);
}

.sessao-lista-servicos tbody {
    line-height: 40px;
}

.sessao-lista-servicos td:last-child {
    width: 20%;
}

.btnAcoes {
    color: var(--laranja-principal) !important;
    font-size: 1.2rem;
}

.btn-editar,
.btn-deletar {
    font-size: 1.2rem !important;
    color: var(--cinza-claro) !important;
}

.btn-agendar {
    font-size: 1.2rem;
    color: var(--laranja-principal) !important;
}


