<div class="row">
    <div class="col-12 col-lg-10 col-md-10 mx-auto">
        <header>
            <i class="bi bi-coin"></i>
            <span>Serviços</span>
        </header>
    </div>
</div>



<div class="row">
    <div class="col-12 col-lg-10 col-md-10 mx-auto">
        <section class="sessao-cadastro w-50">
            <button class="btn btn-sm btn-add" (click)="abrirModal(modal)">
                <span>Novo</span>
                <i class="bi bi-plus"></i>
            </button>
        </section>
    </div>
</div>



<div class="row" *ngIf="servicos.length > 0; else semDadosDisplay">
    <div class="col-12 col-lg-10 col-md-10 mx-auto">
        <section class="sessao-lista-servicos">
            <input type="text" class="form-control input-search mb-4" placeholder="Pesquisar"
                [(ngModel)]="searchTerm" />
            <table class="table table-custom table-sm text-center rounded" id="tabelaCliente">
                <thead>
                    <tr class=" text-white">
                        <th><i class="bi bi-info-circle-fill"></i> Nome</th>
                        <th><i class="bi bi-currency-dollar"></i> Preço</th>
                        <th><i class="bi bi-gear"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servico of filteredServicos">
                        <td>{{servico.nome}}</td>
                        <td>{{servico.preco | currency: 'BRL'}}</td>
                        <td>
                            <span placement="left" [ngbPopover]="popoverContent" popoverTitle="Ações">
                                <i class="bi bi-three-dots btnAcoes"></i>
                            </span>

                            <ng-template #popoverContent>
                                <div class="d-flex flex-column align-items-center justify-content-center gap-3">
                                    <i class="bi bi-pencil btn-editar" (click)="abrirModal(modal, servico)"></i>
                                    <i class="bi bi-trash btn-deletar" (click)="confirmacaoExclusao(servico.id)"></i>
                                </div>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination [collectionSize]="servicos.length" [(page)]="page" [pageSize]="pageSize"
                (pageChange)="onPageChange($event)"></ngb-pagination>
        </section>
    </div>


</div>

<ng-template #semDadosDisplay>
    <div class="text-center mt-5">
        <h2 style="color:var(--laranja-principal)">Não há dados para exibir...</h2>
    </div>
</ng-template>

<!-- MODAL -->
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-cliente-title">Novo</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmServico">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" formControlName="nome" class="form-control" placeholder="Nome do servico">
                        <span class="w-100 error-input small"
                            *ngIf="(frmServico.get('nome')?.hasError('required') && frmServico.get('nome')?.touched)">
                            O nome é obrigatório!
                        </span>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="form-group">
                        <label>Preço</label>
                        <input type="number" formControlName="preco" class="form-control"
                            placeholder="Preço do serviço">
                        <span class="w-100 error-input small"
                            *ngIf="(frmServico.get('preco')?.hasError('required') && frmServico.get('preco')?.touched)">
                            O preço é obrigatório!
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm custom-btn-primary" (click)="submitForm()"><i
                class="bi bi-check-circle fs-4"></i></button>
    </div>
</ng-template>