header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2rem;
    background-color: var(--laranja-secundario);

    color: var(--texto-principal-claro);

    i {
        font-size: 2.2rem;
    }
}

.sessao-cadastro {
    margin-top: 20px;
    margin-bottom: 8px;
    border: solid thin var(--laranja-secundario);

    .btn-add {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        font-size: 1rem;
        color: var(--laranja-principal);
        flex-grow: 1;
        width: 100%;
    }

    i {
        font-size: 1.3rem;
    }
}


.sessao-lista-agendamentos {
    margin-top: 20px;
}

.sessao-lista-agendamentos .input-search {
    margin-bottom: 15px;
}


.sessao-lista-agendamentos thead {
    border-bottom: solid thin var(--laranja-principal);
}

.sessao-lista-agendamentos tbody {
    line-height: 40px;
}

.sessao-lista-agendamentos td:last-child {
    width: 20%;
}

.btnAcoes {
    font-size: 1.6rem !important;
    color: var(--laranja-principal) !important;
}

.btn-editar,
.btn-deletar {
    font-size: 1.2rem !important;
    color: var(--cinza-claro) !important;
}

.btn-agendar {
    font-size: 1.2rem;
    color: var(--laranja-principal) !important;
}