@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
    --laranja-principal: #f65a30;
    --laranja-secundario: #f65b306a;
    --texto-principal-claro: #eeebeb;
    --cinza-claro: #484c4cdb;
    --cinza-medio: #00000dae;
    --cinza-escuro: #333;
    --p-15: 15px;
    --m-10: 15px;
}

.table-custom {
    border-radius: 15px !important;
    overflow: hidden;
    -webkit-box-shadow: 0px 19px 19px -2px hsla(0, 0%, 0%, 0.57);
    -moz-box-shadow: 0px 19px 19px -2px rgba(0, 0, 0, 0.57);
    box-shadow: 0px 19px 19px -2px rgba(0, 0, 0, 0.57);
    margin-bottom: 30px;
}


tr {
    margin-bottom: 75px !important;
}

.popover-header {
    background-color: var(--laranja-principal) !important;
}

.table-custom th,
.table-custom td {
    border: none;
    background-color: var(--cinza-escuro);
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;

    i {
        color: #FFF !important;
    }
}

.page-link.active,
.active>.page-link {
    background-color: var(--laranja-principal) !important;
}

.nav-link:active {
    color: var(--laranja-secundario);
}

.nav-link:hover {
    color: var(--laranja-secundario);
}

.page-link {
    background-color: var(--cinza-escuro) !important;
    color: #FFF !important;
    border: solid thin var(--laranja-principal) !important;
}

.page-link:focus {
    border-color: var(--laranja-principal) !important;
    box-shadow: 0 0 5px var(--laranja-secundario) !important;
}

.offcanvas {
    background-color: var(--cinza-escuro);
}

body {
    background-color: var(--cinza-escuro);
}

.divisor {
    border: solid thin var(--laranja-principal);
    width: 75%;
    margin: 0 auto;
}

/* Botões*/
.custom-btn-primary {
    color: var(--laranja-principal);
    border-color: #f65a30 !important;
    box-shadow: 0 0 5px #f65a30a9 !important;
    background-color: transparent;
    padding: 0 85px;

    i {
        font-size: 2.3rem;
    }
}

.custom-btn-primary:hover {
    background-color: var(--laranja-principal);
    color: var(--texto-principal-claro);
}

.custom-btn-primary:active {
    color: var(--laranja-principal) !important;
}

/* Modal */

.modal-content {
    color: var(--laranja-principal)
}

/* Error */
.error-input {
    background-color: var(--laranja-principal);
    color: var(--texto-principal-claro);
    display: block;
    text-align: center;
    padding: 2px 0;
}

.selected-item {
    max-width: 200px !important;
    margin-bottom: 5px;
}